/* Add your CSS styles here for colors, typography, layout, etc. */
body {
    font-family: Arial, sans-serif;
}

/* Define your styles for header, hero section, features, etc. */

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
}
